@import url(https://fonts.googleapis.com/css?family=Indie+Flower);body {
  color: #FFF;
  font-family: "indie flower", sans-serif; }

img {
  width: 40px;
  border-radius: 50%; }

.chalk {
  font-family: "indie flower", sans-serif;
  color: #FFF; }

.board {
  border-radius: 15px;
  min-height: 600px;
  max-width: 600px;
  margin: auto;
  background-color: #4d4e4f; }

hr {
  border: none;
  width: 80%;
  height: 2px;
  background-color: #FFF;
  margin-top: 0px; }

tr {
  color: #FFF;
  font-size: 20px; }
  tr:hover {
    background: transparent !important; }

.header {
  padding-top: 10px;
  text-align: center; }

a {
  color: inherit; }
  a:visited {
    color: inherit; }

.pointer {
  cursor: pointer; }
